<mat-card class="login-card">
  <mat-card-content>
    <h1 class="login-title">{{ status === 'login' ? 'התחברות' : 'הרשמה' }}</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" required>
        <mat-icon matPrefix>person</mat-icon>
        @if (formFields['name'].hasError('required') && (formFields['name'].touched || formFields['name'].dirty))
        {<mat-error>שם הוא שדה חובה</mat-error>}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>סיסמה</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (formFields['password'].hasError('required') && (formFields['password'].touched ||
        formFields['password'].dirty)) {
        <mat-error>סיסמה היא שדה חובה</mat-error>
        }
        @if (formFields['password'].hasError('minlength') && (formFields['password'].touched ||
        formFields['password'].dirty)) {
        <mat-error>סיסמה חייבת להכיל לפחות 8 תווים</mat-error>
        }
      </mat-form-field>
      
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          <span>{{status === 'login' ? 'התחבר' : 'הירשם'}}</span>
        </button>
      </div>
    </form>

    <button class="goback-button" (click)="goBack()">
      חזרה
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-card-content>
</mat-card>